* {
    margin: 0;
}
h1 {
    font-size: 60px;
    /* margin: 40px; */
}
.title-1 {
    margin-bottom: 100px;
    padding: 50px;
    background-color: pink;
}
button {
    padding: 40px;
    all: unset;
    font-size: 24px;
    margin: 50px;
    background-color: pink;
    padding: 16px 24px;
}